#!/bin/sh

openstack tripleo deploy --templates --local-ip={{ aio_ip }}/24   -e /usr/share/openstack-tripleo-heat-templates/environments/standalone/standalone-tripleo.yaml -r /usr/share/openstack-tripleo-heat-templates/roles/Standalone.yaml -e /home/stack/containers-prepare-parameters.yaml -e /home/stack/standalone_parameters.yaml --output-dir /home/stack --standalone
