parameter_defaults:
  CloudName: {{ facter_networking.interfaces[aio_interface].bindings[0].address }}
  CloudDomain: {{ aio_domain }}
  ControlPlaneStaticRoutes: []
  Debug: true
  DeploymentUser: stack
  DnsServers:
    - {{ aio_dns_server }} 
  DockerInsecureRegistryAddress:
    - {{ facter_networking.interfaces[aio_interface].bindings[0].address }}:8787
  NeutronPublicInterface: {{ aio_interface }}
  NeutronDnsDomain: localdomain
  NeutronBridgeMappings: datacentre:br-ctlplane
  NeutronPhysicalBridge: br-ctlplane
  StandaloneEnableRoutedNetworks: false
  StandaloneHomeDir: /home/stack
  StandaloneLocalMtu: 1500
  StandaloneExtraConfig:
    NovaComputeLibvirtType: {{ aio_libvirt_type }}
